.contenedor{
    display:flex;
    flex-direction:row-reverse;
    flex-wrap:wrap;
    justify-content:flex-start;
    width: 100%;
    margin: 0px auto;
    background-color: #f3f3f3;
    border: 1px solid #cccccc;
    }
    
    .elemento{
        width:25%;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        padding: 10px 0px;
        background-color: #0e074d;
        }
    
        html {
            font-size: 25px;
            display: block;
            }
        body {
            margin: 0px;
            color: #ffffff;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 2rem;
            }
            div {
                display: block;
            }
        p{
            color: #000000;  
        }